apiVersion: v1
kind: Service
metadata:
  name: todoapp-metrics
  namespace: testprod
  labels:
    app: todo-app
spec:
  type: ClusterIP
  selector:
    app: todo-app
  ports:
    - name: metrics
      port: 3000
      targetPort: 3000
