image:
  repository: 604245833114.dkr.ecr.ap-south-1.amazonaws.com/todoapp
  pullPolicy: IfNotPresent
  tag: "latest"

replicaCount: 2

service:
  type: LoadBalancer
  port: 80

env:
  APP_ENV: "production"
  APP_NAME: "todo-app"

secret:
  SECRET_KEY: "secret"

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 60

